[submodule "eungsang"]
	path = eungsang
	url = https://github.com/eungsangcom/com.ragwatson.api.git
[submodule "jebbi"]
	path = jebbi
	url = https://github.com/eungsangcom/com.ragwatson.www.git
[submodule "vault"]
	path = vault
	url = https://github.com/eungsangcom/com.ragwatson.docs.git
[submodule "docs"]
	path = docs
	url = git@github.com:eungsangcom/com.eungsang.docs.git
