[submodule "eungsang"]
	path = eungsang
	url = git@github.com:eungsangcom/com.eungsang.api.git
[submodule "jebbi"]
	path = jebbi
	url = git@github.com:eungsangcom/com.eungsang.www.git
[submodule "docs"]
	path = vault
	url = git@github.com:eungsangcom/com.eungsang.docs.git

